@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark {
    --background: 120 50% 5%;
    --foreground: 120 5% 90%;
    --card: 120 50% 0%;
    --card-foreground: 120 5% 90%;
    --popover: 120 50% 5%;
    --popover-foreground: 120 5% 90%;
    --primary: 120 95.2% 75.3%;
    --primary-foreground: 0 0% 0%;
    --secondary: 120 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 232 30% 15%;
    --muted-foreground: 120 5% 60%;
    --accent: 232 30% 15%;
    --accent-foreground: 120 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 120 5% 90%;
    --border: 120 30% 18%;
    --input: 120 30% 18%;
    --ring: 120 95.2% 75.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
